{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  
  {{- with index site.Menus $menuID }}
    <nav>
      <ul class="flex flex-row flex-wrap justify-center list-none m-0 p-0 gap-4">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuID" $menuID "menuEntries" .) }}
      </ul>
    </nav>
  {{- end }}
  
  {{- define "_partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- $menuID := .menuID }}
    {{- range .menuEntries }}
      {{- $attrs := dict "href" .URL }}
      {{- $name := .Name }}
      {{- with .Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}
      {{- $href := .URL }}
      {{- $current := $page.RelPermalink }}
      {{- $hrefNorm := cond (eq $href "/") "/" (strings.TrimSuffix "/" $href) }}
      {{- $currentNorm := cond (eq $current "/") "/" (strings.TrimSuffix "/" $current) }}
      {{- $hrefClean := index (split (index (split $hrefNorm "?") 0) "#") 0 }}
      {{- $isActiveByMenu := or ($page.IsMenuCurrent $menuID .) ($page.HasMenuCurrent $menuID .) }}
      {{- $hasHref := and (ne $hrefClean "") (hasPrefix $hrefClean "/") }}
      {{- $isActiveByURL := and $hasHref (or (eq $currentNorm $hrefClean) (and (ne $hrefClean "/") (hasPrefix $currentNorm (printf "%s/" $hrefClean)))) }}
      {{- $isActive := or $isActiveByMenu $isActiveByURL }}
      <li>
        <a class="text-sm menu-link{{ if $isActive }} is-active{{ end }}{{ if not $hasHref }} is-disabled{{ end }}"
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}
        >
          {{- if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ $name }}" class="pixelated pixel-icon">
          {{- else }}
            {{ $name }}
          {{- end }}
        </a>
        {{- with .Children }}
          <ul>
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        {{- end }}
      </li>
    {{- end }}
  {{- end }}
